.ios-install {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
}

.ios-install .ios-install-wrapper {
   width: 100%;
   max-width: 1200px;
   padding: 20px;
}

.ios-install .ios-install-wrapper .install-cards {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.ios-install .ios-install-wrapper .install-cards .card .install-card-image {
   width: 100%;
   border-radius: 15px;
}

.ios-install .ios-install-wrapper .install-cards .card .install-card-image img {
   width: 100%;
   object-fit: contain;
   object-position: center;
   border-radius: 15px;
   -webkit-user-drag: none;
}