.progressBarContainer {
   width: 260px;
   height: 10px;
   background: #d6d6d6;
   border-radius: 9999px;
   overflow: hidden;
   position: relative;
}

.progressBar {
   width: 100%;
   height: 100%;
   position: relative;
   overflow: hidden;
}

.progressBarInner {
   position: absolute;
   top: 0;
   left: -40%;
   height: 100%;
   width: 40%;
   background: linear-gradient(to right, #131313, #292929);
   border-radius: 9999px;
   animation: slide 1.2s infinite ease-in-out;
}

@keyframes slide {
   0% {
      left: -40%;
   }
   50% {
      left: 60%;
   }
   100% {
      left: 100%;
   }
}