.quiz-bar-chart {
   width: 100%;
   height: 20vh;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.bar-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: end;
   justify-content: center;
}

.bar-wrapper .bar {
   width: 100%;
   border-radius: 15px;
   display: flex;
   align-items: end;
   justify-content: center;
   padding: 5px 0;
}

.bar-wrapper .bar .score { opacity: 0; }

.bar-wrapper:hover .bar .score {
   opacity: 1;
   font-weight: 600;
}