.header {
   width: 100%;
   height: 8vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #dbd9ff;
}

.header .header-container {
   width: 100%;
   max-width: 1200px;
   padding: 0 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header .header-container .app-icon {
   width: fit-content;
   height: 100%;
   cursor: pointer;
}

.header .header-container .header-items {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: end;
}

.header .header-container .header-items .header-item {
   width: fit-content;
   background-color: white;
   border: 1px solid #ececec;
   border-radius: 8px;
   color: #1131ff;
   font-weight: 700;
   padding: 6px 12px;
   cursor: pointer;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.034);
}

.header .header-container .header-items .header-item:hover {
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.097);
}