.app {
   width: 100vw;
   height: 100svh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   user-select: none;
}

.app .content {
   height: calc(100svh - 9vh - 10px);
   background: #ffffff;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: scroll;
   overflow-x: hidden;
}

.app .content .content-wrapper {
   width: 100%;
   padding: 0 15px;
   max-width: 600px;
   height: 100%;
}

.app .content textarea.home-prompt {
   width: 100%;
   scale: 0.97;
   background-color: #eeeeee;
   border: 1px solid #f3f4ff;
   border-radius: 20px;
   padding: 20px;
   opacity: 0.8;
   box-shadow: 0 3px 7px rgba(0, 0, 0, 0.021);
}

.app .content textarea.home-prompt:hover { scale: 0.98; }

.app .content textarea.home-prompt:focus {
   scale: 1;
   opacity: 1;
   background-color: #ffffff;
   border: 1px solid #c9cdff;
   /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.096); */
   box-shadow: 0 3px 10px rgba(3, 0, 153, 0.219);
}