input[type=file][name="attach-file"] { display: none; }

.attach-doc {
   width: 100%;
}

.attach-btn-doc {
   width: 100%;
   background: #dbdbdb;
   color: black;
   font-size: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   padding: 10px 15px;
   border: none;
   border-radius: 15px;
   cursor: pointer;
   user-select: none;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.096);
}

.document-upload-status {
   width: 100%;
   height: 7vh;
   border: 1px solid #e5e5e5;
   border-radius: 12px;
   background-color: white;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.056);
   margin: 10px 0;
   padding: 5px 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.document-upload-status .file-info {
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 0 5px;
}

.document-upload-status .file-info .file-name { font-weight: 600; font-size: 1.1rem; }
.document-upload-status .file-info .file-extension { opacity: 0.6; font-size: 0.85rem; }

.document-upload-status .close-btn {
   height: 100%;
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
}

.document-upload-status .close-btn > button {
   border-radius: 100%;
   padding: 7px;
   width: fit-content;
   aspect-ratio: 1;
   background: #dbdbdb;
   color: black;
}